*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 12px;
  font-weight: 400;
}

span {
  font-size: 8px;
  font-weight: 400;
}

.btn {
  padding: 16px 32px;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 9px;
  position: relative;
  transition: all 0.2s linear;
}

body {
  height: 100vh;
  background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #292d34;
}

.popup-btn {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  cursor: pointer;
  transition: all 0.25s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.popup-btn:hover {
  transform: translate(-50%, calc(-50% - 5px));
}
.popup-btn img {
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  max-width: 630px;
  min-width: 320px;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1300px;
}
.popup .content {
  padding: 24px;
  border-radius: 9px;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  transition: all 0.7s;
  transform: rotateX(-70deg);
  opacity: 0;
  transform-style: preserve-3d;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.popup .content .img-container {
  text-align: center;
  margin-bottom: 16px;
}
.popup .content .img-container img {
  max-width: 140px;
  vertical-align: middle;
}
.popup .content .title-text {
  text-align: center;
  margin-bottom: 16px;
}
.popup .content .paragraph-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: #7c828d;
}
.popup .content .btn-container {
  text-align: center;
}
.popup .content .btn-container .btn {
  background: #b9bec7;
  color: white;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  transition: all 0.9s ease;
}
.popup .content .btn-container .btn:hover {
  background: #7c828d;
}
.popup.show {
  visibility: visible;
}
.popup.show ~ .overlay {
  opacity: 1;
  visibility: visible;
}
.popup.show ~ .overlay .one {
  opacity: 0.6;
  visibility: visible;
  transform: translateX(0);
}
.popup.show ~ .overlay .two {
  opacity: 0.6;
  visibility: visible;
  transform: translateX(0);
}
.popup.show .content {
  transform: rotateX(0deg);
  opacity: 1;
}
.popup.show ~ .popup-btn {
  display: none;
}

.circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  filter: blur(1px);
}
.circle.one {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, rgb(123, 66, 209) 0%, rgb(123, 104, 238) 100%);
  top: 20%;
  left: 30%;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(123, 66, 209, 0.4);
  transition: all 1.2s ease-out;
  transform: translateX(-130px);
  visibility: hidden;
  opacity: 0;
}
.circle.one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  opacity: 0.3;
  background: linear-gradient(45deg, rgb(123, 66, 209) 0%, rgb(123, 104, 238) 100%);
  z-index: -1;
  box-shadow: 0 10px 25px rgba(123, 66, 209, 0.4);
  filter: blur(20px);
}
.circle.two {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, rgb(245, 205, 81) 0%, rgb(247, 206, 81) 100%);
  top: 65%;
  left: 64%;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
  transition: all 1.5s ease-out;
  transform: translateX(90px);
  visibility: hidden;
  opacity: 0;
}
.circle.two::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  opacity: 0.5;
  background: linear-gradient(45deg, rgb(245, 205, 81) 0%, rgb(247, 206, 81) 100%);
  z-index: -1;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
  filter: blur(50px);
}

.jssecrets {
  font-weight: 500;
  text-decoration: none !important;
  font-family: "Urbanist";
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(184, 144, 0, 0.1882352941), 0px 8px 24px rgba(184, 144, 0, 0.3764705882);
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
}
.jssecrets:hover {
  transform: translateY(-4px);
}